
body {
    background-color: #1b211A;
    color: rgb(222, 233, 233);
}

h1 {
    color: darkorange;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-shadow: blueviolet 2px 2px 4px;
}

h2 {
    text-transform: capitalize;
    font-style: italic;
    color: palevioletred;
    letter-spacing: 7px;
    text-shadow: darkgray 0px 0px 4px;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: blueviolet;
}

p {
    color: brown;
}

video,
audio,
iframe {

    max-width: 100%;
    border: 5px solid black;
    /* border-radius: 10px; */
    margin-bottom: 20px;
    box-shadow: 0px 0px 14px 6px palevioletred;
    border-radius: 50px;
}